/********** common setting **********/
h2 {
  font-size: 2.8rem !important;
  font-weight: 700;
}

img {
  display: block;
  max-width: 100%;
}

a,
button {
  cursor: pointer;
}
.centralizar {
  align-items: center;
}

.logo-nav {
  width: 300px;
  height: 100px;
}

.icone {
  width: 150px;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.atlas-cta {
  border-radius: 22px !important;
  padding: 12px 30px !important;
  font-weight: 700;
  transition: 0.3s ease-in-out !important;
}

.atlas-cta:hover {
  text-decoration: none;
  transform: translateY(-5px);
}

.atlas-cta-wide {
  width: 100%;
}

.cta-green {
  background: #00ffad;
  color: #192440;
}

.cta-green:hover {
  color: #ffffff;
  background: #00e69c;
}

.cta-blue {
  background: #192440;
  color: #ffffff;
}

.cta-blue:hover {
  color: #ffffff;
  background: #121a2e;
}

.cta-ghost {
  border: 2px solid #192440 !important;
  color: #192440;
}

.cta-ghost:hover {
  color: #ffffff;
  background: #121a2e;
}

/********** banner **********/

#banner {
  background-size: cover;
  background-color: rgba(240, 240, 240, 0.7);
  background-blend-mode: overlay;
}

#banner header {
  overflow: hidden;
}

#banner header img {
  max-width: 250px;
  max-height: 100px;
}
